/* CSS */
html, body {
    margin: 0;
    padding: 0;
    height: auto; /* importante: no limitarlo a 100vh */
    overflow-y: auto; /* permite scroll vertical */
}

section {
    height: 100vh; /* cada sección ocupa toda la pantalla */
}

