body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

/* HUD */
#hud {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Mira a la derecha */
#crosshair {
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}

/* Inventario */
#inventory {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slot {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  background: rgba(0,0,0,0.5);
}

.slot.active {
  border-color: gold;
}
