body, html {
    margin: 0;
    overflow: hidden;
    background: #f3e1f9;
    font-family: 'Arial', sans-serif;
    user-select: none;
}

#info {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(255 255 255 / 0.8);
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    color: #54007d;
    z-index: 10;
}

#startScreen {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20;
}

#startScreen small {
    font-size: 18px;
    margin-top: 8px;
}

