#shop {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}
#shop button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
}
