body, html { margin: 0; overflow: hidden; font-family: 'Arial', sans-serif; background: #000; }

/* HUD Superior */
#ui-layer {
    position: fixed; top: 0; left: 0; width: 100%; padding: 20px;
    display: flex; justify-content: space-between; pointer-events: none; z-index: 100;
}
.hud-box {
    background: rgba(255, 255, 255, 0.9); border-radius: 20px; padding: 10px 15px;
    display: flex; flex-direction: column; align-items: center; box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    pointer-events: auto; min-width: 60px;
}
.icon-ball { color: #a020f0; font-size: 35px; line-height: 1; }
.lives-val { font-weight: bold; font-size: 24px; color: #333; }

/* Tienda */
#shop-btn {
    position: fixed; top: 120px; left: 20px; z-index: 100;
    background: #ffdb4d; border: none; padding: 10px; border-radius: 8px; font-weight: bold; cursor: pointer;
}
.shop-menu {
    position: fixed; top: 165px; left: 20px; background: white; padding: 10px; border-radius: 8px; z-index: 100;
}
.hidden { display: none; }

/* Pantalla de Inicio (El cartel de START) */
#startScreen {
    position: fixed; inset: 0; z-index: 200; display: flex; justify-content: center; align-items: flex-end;
    padding-bottom: 100px; background: rgba(0,0,0,0.1); cursor: pointer;
}
.banner { background: white; padding: 10px; border: 8px solid #333; text-align: center; }
.start-txt { font-size: 70px; font-weight: 900; color: #ff69b4; font-style: italic; line-height: 1; }
