body, html { margin: 0; overflow: hidden; font-family: 'Arial', sans-serif; background: #000; }
#ui-container {
    position: fixed; width: 100%; height: 100%;
    pointer-events: none; z-index: 10;
}
.hud-icon {
    position: absolute; top: 10px; background: rgba(255,255,255,0.8);
    border-radius: 15px; padding: 10px; pointer-events: auto;
}
#lives-cont { left: 15px; text-align: center; width: 60px; }
#pause-btn { right: 15px; cursor: pointer; }

#startScreen {
    position: fixed; inset: 0; background: rgba(0,0,0,0.2);
    display: flex; flex-direction: column; justify-content: flex-end;
    align-items: center; z-index: 20; padding-bottom: 100px;
}
#start-img { width: 300px; }

/* Tienda arriba derecha */
#shop-toggle {
    position: absolute; top: 80px; right: 15px;
    background: #ffdb4d; border: none; padding: 8px;
    border-radius: 5px; cursor: pointer; pointer-events: auto;
}
.hidden { display: none !important; }
#shopMenu {
    position: absolute; top: 120px; right: 15px;
    background: white; padding: 10px; border-radius: 8px;
    pointer-events: auto; width: 150px;
}
