/* TECLADO */
#keys {
  width: 90px;
  background: #111;
  position: relative;
  display: grid;
  grid-template-rows: repeat(16, 40px);
}

.key {
  height: 40px;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #000;
  background: #f2f2f2; /* blancas */
}

.key.black {
  background: #111;
  color: #fff;
}
